body {
  background-color: #6bfac8;
    font-family: HELVETICA;
  font-size: 40px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: HELVETICA;
  font-size: 40px;
  text-align: center;
}
}
